body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > div {
    display: flex;
    justify-content: center;
}

.header, .section-one {
    background-color: #1F2937;
}

.content-wrapper {
    max-width: 50rem;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper > * {
    margin: .5rem 1rem;
}

.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.header ul {
    width: 8rem;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    display: flex;
}

.header a {
    font-size: 1rem;
    color: #E5E7EB;
    text-decoration: none;
}

.section-one .content-wrapper {
    margin: 3rem 0;
}

@media (width < 960px)
{
    .section-one .content-wrapper {
        justify-content: center;
    }
}

.left, .right {
    width: 20rem;
}

.left h3 {
    color: #F9FAF8;
    font-size: 2.5em;
    margin: 0;
}

.left p {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: .25rem;
    padding: .25rem 1rem;
}
.section-one img {
    border-radius: .5rem;
    height: auto;
}